@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sora";
  src: url('../../public/assets/fonts/Sora/static/Sora-Regular.ttf');
}

@font-face {
  font-family: "Sora-SemiBold";
  src: url('../../public/assets/fonts/Sora/static/Sora-SemiBold.ttf');
}

@font-face {
  font-family: "Montserrat";
  src: url('../../public/assets/fonts/Montserrat/static/Montserrat-Regular.ttf');
}

body{
  background-color: black;
}


section{
   background-color: black;
  }

h1, span, a{
  font-family: 'Sora-SemiBold';
}

.secondary-text{
  color: #7E7E7E;
  font-family: 'Sora';
}



